html {
	scroll-behavior: smooth;
	background-color: var(--page-bg)
}

body {
	position: relative;

	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
}

img {
	display: block;
}

a {
	color: var(--link-color);
}
