.footer {
    padding: 40px 130px 25px 130px;

    background-color: var(--background-block);
}
.footer--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer--menu {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer--links {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer--links li {
    display: block;
    max-width: 300px;
    width: 300px;
}
.footer--link {
    padding-bottom: 10px;
    display: block;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid var(--accent);
}
.footer--link div {
    font-weight: 400;
    font-size: clamp(1rem, 0.929rem + 0.35vw, 1.25rem);
    color: var(--text-color);

    transition: color 0.2s ease-in;
}
.footer--link:hover{
    div {
        color: var(--accent);
    }

    svg{
        fill: var(--title-1);
    }
}
.icon--double-arrow {
    width: 20px;
    height: 23px;
}
.footer--app {
    max-width: 230px;
    width: 100%;
}
.footer--app--text {
    font-weight: 400;
    font-size: clamp(1rem, 0.929rem + 0.35vw, 1.25rem);
    color: var(--title-2);
    margin-bottom: 30px;
}
.footer--app--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer--app--img {
    max-width: 100px;
    opacity: 1;
    transition: all 0.2s ease-in;
}
.footer--app--img:hover{
    opacity: 0.7;
}
.footer--socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer--social--text{
    font-weight: 400;
    font-size: clamp(1rem, 0.929rem + 0.35vw, 1.25rem);
    color: var(--title-2);
    margin-bottom: 20px;
}
.footer--socials .social{
    margin-bottom: 50px;
}
.footer--btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    row-gap: 30px;
}
.footer--info {
    text-align: center;

    margin-top: 40px;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: clamp(0.875rem, 0.84rem + 0.18vw, 1rem);
    color: var(--text-color);
}

.footer--line{
    width: 100%;
    height: 1px;
    background-color: var(--title-2);
}

.footer--copy {
    text-align: center;
    margin-top: 25px;

    font-weight: 400;
    font-size: clamp(0.875rem, 0.84rem + 0.18vw, 1rem);
    color: var(--text-color);
}

@include laptop-big {
    .footer--wrapper{
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@include laptop {
    .footer--links li{
        width: 450px;
        max-width: 100%;
    }
    .footer--socials{
        max-width: 450px;
        width: 100%;
    }
    .footer--btns{
        flex-direction: row;
        column-gap: 15px;
    }
}

@include tablet {
    .footer--links li{
        width: 200px;
        max-width: 100%;
    }
    .footer--socials{
        max-width: 200px;
        width: 100%;
    }
    .footer--btns{
        flex-direction: column;
        column-gap: 0;
    }
}

@include mobile {
    .footer{
        padding: 30px 30px;
    }
    .footer--links li{
        width: 280px;
        max-width: 100%;
    }
    .footer--socials{
        max-width: 280px;
        width: 100%;
    }
}